---
const { title, description, link } = Astro.props
---

<article class="project-card">
    <h3>{title}</h3>
    <div>
        <a href={link} target="_blank">
            <p>{description}</p>
        </a>
    </div>
</article>

<style>
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 260px;
        height: 210px;
        padding: 20px;
        background-color: rgb(82, 152, 199);
        border-radius: 10px;
        color: blue;
        text-align: center;
    }

    .project-card > h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        margin: 1;
    }

    .project-card > div {
        border-top: 1px solid #fff;
    }

    .project-card > div > a {
        text-decoration: none;
        color: aquamarine;
        font-weight: 100;
        font-size: 14px;
        transition: all .3s;
    }

    .project-card > div > a:hover {
        color: orange;
    }

    p{
        font-size: larger;
    }
</style>