---
const { text } = Astro.props
---

<h2 class="title">
    {text}
</h2>

<style>
    h2{
        max-width: 450px;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        color: #edf1f2;
        text-align: center;
        font-weight: 500;
        background: linear-gradient(89.56deg, #f7e5e5 44.7% rgba(196, 152, 152, 0.726) 137.42%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:rgb(170, 205, 228);
        background-clip: text;
    }
</style>